$margin-rows: -395px;
$m-headerfooter: 60px;
$border-radius: 5px;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: auto;
}

.wrap {
  display: flex;
  justify-content: center;
  min-height: 400px;
}

@import "header&footer";
@import 'slider';
@import 'text';
@import 'btns';

